<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sem Book</title>
</head>
<body>
    <header>
        <h1>📚 My SEM BOOK</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/base{{user.id}}">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <h3>Webmail: {{user.webmail}}</h3>
    <ul>
        {% for book in user.books %}
            <li><a href="/index/{{book.id}}/1">Book-{{book.btitle}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>